---
import Time from "../icons/Time.astro";
import type { Song } from "../lib/data";

interface Props {
    songs: Song[];
}

const { songs } = Astro.props;
---

<table class="table-auto text-left min-w-full divide-y-2 divide-gray-500/20">
    <thead>
        <tr class="text-gray-300 text-sm">
            <th class="px-4 py-2 font-light">#</th>
            <th class="px-4 py-2 font-light">Title</th>
            <th class="px-4 py-2 font-light">Album</th>
            <th class="px-4 py-2 font-light flex justify-center"><Time /></th>
        </tr>
    </thead>
    <tbody>
        <tr class="h-[16px]"></tr>
        {
            songs.map((song, index) => (
                <tr class="text-gray-300 text-sm font-light hover:bg-white/10 rounded-lg">
                    <td class="px-4 py-2 rounded-tl-lg rounded-bl-lg w-5"> {index + 1} </td>
                    <td class="px-4 py-2 flex gap-3">
                        <picture>
                            <img
                                class="w-12 h-12 rounded-md"
                                src={song.image}
                                alt={song.title}
                            />
                        </picture>
                        <div class="flex flex-col">
                            <h3 class="text-white text-base font-normal">{song.title}</h3>
                            <span> {song.artists.join(", ")} </span>
                        </div>
                    </td>
                    <td class="px-4 py-2"> {song?.album} </td>
                    <td class="px-4 py-2 rounded-br-lg rounded-tr-lg text-center"> {song?.duration} </td>
                </tr>
            ))
        }
    </tbody>
</table>
