---
import type { Playlist } from "../lib/data";
import { CardPlayButton } from "../components/CardPlayButton";
interface Props {
    playList: Playlist;
}

const { playList } = Astro.props;
const { id, albumId, artists, color, cover, title } = playList;

const artistsString = artists.join(", ");
---

<article
    onmouseenter={`myEnterFunction('${color.dark}')`}
    onmouseleave="myLeaveFunction()"
    class="group relative hover:bg-zinc-900/50 hover:shadow-xl rounded-lg bg-zinc-950/40"
>
    <div
        class="absolute right-1 bottom-4 translate-y-4
    transition-all duration-500 opacity-0
    group-hover:translate-y-0 group-hover:opacity-100 z-10"
    >
        <CardPlayButton id={id} client:visible />
    </div>

    <a
        class="playList-item transition-all duration-300 relative h-20 overflow-hidden
     gap-3 rounded-md flex flex-row"
        href={`/playlist/${id}`}
    >
        <picture class="aspect-square flex-none w-auto h-full">
            <img
                src={cover}
                alt={`Cover of ${title} by ${artistsString}`}
                class="object-cover w-full rounded-l-md"
            />
        </picture>
        <div class="flex flex-auto flex-col truncate px-2">
            <h4 class="flex flex-col h-full justify-center">
                {title}
            </h4>
        </div>
    </a>
</article>
<script is:inline>
    function myEnterFunction(color) {
        const bgRef = document.querySelector("#playlist-container");
        bgRef.style.backgroundColor = color;
    }

    function myLeaveFunction() {
        const bgRef = document.querySelector("#playlist-container");
        bgRef.style.backgroundColor = "";
    }
</script>
